<navbar></navbar>
<sidebar></sidebar>
<div *ngIf="tipoTela == 2" class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Clientes
            </div>
            <div (click)="ListagemClientes()" class="card-menu">Listagem de Clientes</div>
        </div>
        <form [formGroup]="clienteForm" (submit)="enviar()">
            <div class="page">
                <div class="row">
                    <div class="group-row">
                        <label>Nome</label>
                        <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required />
                        <label class="error-input" *ngIf="clienteForm.get('name')?.errors?.['required'] &&
                            clienteForm.get('name')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>CPF</label>
                        <input type="text" name="cpf" id="cpf" placeholder="CPF" formControlName="cpf" required
                            mask="(99) 99999999?9 " />
                        <label class="error-input" *ngIf="clienteForm.get('cpf')?.errors?.['required'] &&
                            clienteForm.get('cpf')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="group-row">
                        <label>RG</label>
                        <input type="text" name="rg" id="rg" placeholder="RG" formControlName="rg" required/>
                        <label class="error-input" *ngIf="clienteForm.get('rg')?.errors?.['required'] &&
                            clienteForm.get('rg')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Estado civil</label>
                        <input type="text" name="estadoCivil" id="estadoCivil" placeholder="Estado Civil" formControlName="estadoCivil" required/>
                        <label class="error-input" *ngIf="clienteForm.get('estadoCivil')?.errors?.['required'] &&
                            clienteForm.get('estadoCivil')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Nacionalidade</label>
                        <input type="text" name="nacionalidade" id="nacionalidade" placeholder="Nacionalidade" formControlName="nacionalidade" required/>
                        <label class="error-input" *ngIf="clienteForm.get('nacionalidade')?.errors?.['required'] &&
                            clienteForm.get('nacionalidade')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Profissão</label>
                        <input type="text" name="profissao" id="profissao" placeholder="Profissão" formControlName="profissao" required/>
                        <label class="error-input" *ngIf="clienteForm.get('profissao')?.errors?.['required'] &&
                            clienteForm.get('profissao')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Telefone</label>
                        <input type="text" name="telefone" id="telefone" placeholder="Telefone"
                            formControlName="telefone" required />
                        <label class="error-input" *ngIf="clienteForm.get('telefone')?.errors?.['required'] &&
                            clienteForm.get('telefone')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>E-mail</label>
                        <input type="text" name="email" id="email" placeholder="E-mail" formControlName="email"
                            required />
                        <label class="error-input" *ngIf="clienteForm.get('email')?.errors?.['required'] &&
                            clienteForm.get('email')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Endereço completo</label>
                        <input type="text" name="endereco" id="endereco" placeholder="Endereco"
                            formControlName="endereco" required />
                        <label class="error-input" *ngIf="clienteForm.get('endereco')?.errors?.['required'] &&
                            clienteForm.get('endereco')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Data de nascimento</label>
                        <input type="date" name="dataNascimento" id="dataNascimento" placeholder="Data de nascimento"
                            formControlName="dataNascimento" required />
                        <label class="error-input" *ngIf="clienteForm.get('dataNascimento')?.errors?.['required'] &&
                            clienteForm.get('dataNascimento')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Nº CNH</label>
                        <input type="text" name="numeroCNH" id="numeroCNH" placeholder="Nº da CNH"
                            formControlName="numeroCNH" required />
                        <label class="error-input" *ngIf="clienteForm.get('numeroCNH')?.errors?.['required'] &&
                            clienteForm.get('numeroCNH')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Data de vencimento da CNH</label>
                        <input type="date" name="validadeCNH" id="validadeCNH" placeholder="Data de vencimento da CNH"
                            formControlName="validadeCNH" required />
                        <label class="error-input" *ngIf="clienteForm.get('validadeCNH')?.errors?.['required'] &&
                            clienteForm.get('validadeCNH')?.touched">
                            Campo Obrigatório!
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="group-row">
                        <label>Veiculos</label>
                        <ng-multiselect-dropdown [placeholder]="'Selecione...'" formControlName="veiculoSelect"
                            [settings]="dropdownSettingsVeiculos" [data]="dropdownListVeiculos"
                            [(ngModel)]="selectedVeiculos"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="onDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                            class="dropdown-btn">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>

            <div class="footer-btn">
                <div class="row">
                    <div class="group-row">
                        <input type="button" value="Cancelar" class="btn-primary" (click)="tipoTela = 1" />
                        <input type="submit" value="Salvar" class="btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div *ngIf="tipoTela == 1" class="container-base">

    <div class="content-page">

        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title">Listagem de Clientes</div>
                <div (click)="cadastro()" class="card-menu">Cadastro de Clientes</div>
            </div>

            <div class="action-buttons">
            </div>
            <div class="search">
                <div class="row">
                    <div class="group-row">
                <!-- <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Filtro
                            </mat-panel-title>
                            <mat-panel-description>
                                Aqui vai um resumo do filtro
                            </mat-panel-description>
                        </mat-expansion-panel-header> -->                        
                        <input type="text" name="nomeSearch" id="nomeSearch" placeholder="Nome do cliente"/>                        
                            <input type="button" value="Buscar" class="btn-primary" />
                        
                    <!-- </mat-expansion-panel>
                </mat-accordion> -->
                    </div>
                </div>
            </div>

            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Nome</td>
                        <td>CPF</td>
                        <td>E-mail</td>
                        <td>Telefone</td>
                        <td>Ação</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListClientes | paginate: config; let i = index"
                        class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                        <td>{{item.Id}}</td>
                        <td>{{item.Nome}}</td>
                        <td>{{item.CPF}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.Telefone}}</td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="OnclickEdit(item)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Alterar</span>
                                </button>
                                <button mat-menu-item (click)="OnclickDelete(item)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginacao && tableListClientes">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                    [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>

                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                        [responsive]="true" (pageChange)="mudarPage($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>