<navbar></navbar>
<sidebar></sidebar>
<div *ngIf="tipoTela == 2" class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Multas
            </div>
            <div (click)="ListagemMultas()" class="card-menu">Listagem de Multas</div>
        </div>

        <form class="form-page" [formGroup]="multaForm" (submit)="enviar()">
            <div class="row">
                <div class="group-row">
                    <label>Código</label>
                    <input type="text" name="codigo" id="codigo" placeholder="Código" formControlName="codigo"
                        required />
                    <label class="error-input" *ngIf="multaForm.get('codigo')?.errors?.['required'] &&
                    multaForm.get('codigo')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Descrição</label>
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição"
                        formControlName="descricao" required />
                    <label class="error-input" *ngIf="multaForm.get('descricao')?.errors?.['required'] &&
                    multaForm.get('descricao')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Orgão Autuador</label>
                    <ng-multiselect-dropdown [placeholder]="'Selecione...'" formControlName="OrgaoAutuadorSelect"
                        [settings]="dropdownSettingsOrgaoAutuador"
                        [data]="dropdownListOrgaoAutuador"
                        [(ngModel)]="selectedOrgaoAutuador"
                        (onSelect)="onItemSelectOrgaoAutuador($event)"
                        (onDeSelect)="onDeSelectOrgaoAutuador($event)"
                        class="dropdown-btn">
                    </ng-multiselect-dropdown>
                    <label class="error-input" *ngIf="multaForm.get('OrgaoAutuadorSelect')?.errors?.['required'] &&
                    multaForm.get('OrgaoAutuadorSelect')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>
        </form>
    </div>

</div>

<div *ngIf="tipoTela == 1" class="container-base">

    <div class="content-page">

        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title">Listagem de Multas</div>
                <div (click)="cadastro()" class="card-menu">Cadastro de Multas</div>
            </div>


            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <!-- <td></td> -->
                        <td>Código</td>
                        <td>Descrição</td>
                        <td>Orgão Autuador</td>
                        <td>Ação</td>

                    </tr>
                </thead>
                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListMultas | paginate: config; let i = index"
                        class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                        <td>{{item.Codigo}}</td>
                        <td>{{item.Descricao}}</td>
                        <td>{{item.OrgaoAutuador.Nome}}</td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="OnclickEdit(item)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Alterar</span>
                                </button>
                                <button mat-menu-item (click)="OnclickDelete(item)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginacao && tableListMultas">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                    [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>

                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                        [responsive]="true" (pageChange)="mudarPage($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>