<navbar></navbar>
<sidebar></sidebar>
<div class="container-base">
    <div class="content-page">
        <div class="home">
            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>account_box</mat-icon>
                    <mat-card-title>Cliente</mat-card-title>
                    <mat-card-subtitle>Gestão de clientes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>drive_eta</mat-icon>
                    <mat-card-title>Veículo</mat-card-title>
                    <mat-card-subtitle>Gestão de veiculos</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>subject</mat-icon>
                    <mat-card-title>Infração</mat-card-title>
                    <mat-card-subtitle>Gestão de infrações</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>update</mat-icon>
                    <mat-card-title>Multa</mat-card-title>
                    <mat-card-subtitle>Gestão de multas</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>account_box</mat-icon>
                    <mat-card-title>Cliente</mat-card-title>
                    <mat-card-subtitle>Gestão de clientes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>drive_eta</mat-icon>
                    <mat-card-title>Veículo</mat-card-title>
                    <mat-card-subtitle>Gestão de veiculos</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>subject</mat-icon>
                    <mat-card-title>Infração</mat-card-title>
                    <mat-card-subtitle>Gestão de infrações</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card-home">
                <mat-card-header>
                    <mat-icon>update</mat-icon>
                    <mat-card-title>Multa</mat-card-title>
                    <mat-card-subtitle>Gestão de multas</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>Consultar</button>
                    <button mat-button>Cadastrar</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="row">
            <div class="group-row">

                <button (click)="openModal()" data-testid="button-login">
                    Abrir Modal
                </button>

                <div #modal></div>
            </div>
        </div>
    </div>