<navbar></navbar>
<sidebar></sidebar>
<div *ngIf="tipoTela == 2" class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Defesas
            </div>
            <div (click)="ListagemDefesas()" class="card-menu">Listagem de Defesas</div>
        </div>

        <form [formGroup]="defesaForm" (submit)="enviar()">
            <div class="page">   
                <div class="row">
                    <div class="group-row">
                        <label>Multa</label>
                        <ng-multiselect-dropdown [placeholder]="'Selecione...'" formControlName="multaSelect"
                            [settings]="dropdownSettingsMulta" [data]="dropdownListMulta" [(ngModel)]="selectedMulta"
                            (onSelect)="onItemSelectMulta($event)" (onDeSelect)="onDeSelectMulta($event)"
                            class="dropdown-btn">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                
                <div class="row">
                    <div class="group-row">
                        <label>Selecione os argumentos para defesa</label>
                        <ng-multiselect-dropdown [placeholder]="'Selecione...'" formControlName="ArgumentoSelect"
                            [settings]="dropdownSettingsArgumento" [data]="dropdownListArgumento"
                            [(ngModel)]="selectedArgumento"
                            (onSelect)="onItemSelectArgumento($event)"
                            (onDeSelect)="onDeSelectArgumento($event)"
                            (onSelectAll)="onSelectAllArgumento($event)"
                            (onDeSelectAll)="onDeSelectAllArgumento($event)"
                            class="dropdown-btn">
                        </ng-multiselect-dropdown>                        
                        <div [innerHTML]="argumentoHTML"></div>
                    </div>
                </div>
            </div>            

            <div class="footer-btn">
                <div class="row">
                    <div class="group-row">
                        <input type="button" value="Cancelar" class="btn-primary" (click)="tipoTela = 1"/>
                        <input type="submit" value="Salvar" class="btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div *ngIf="tipoTela == 1" class="container-base">

    <div class="content-page">

        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title">Listagem de Defesas</div>
                <div (click)="cadastro()" class="card-menu">Cadastro de Defesas</div>
            </div>

            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>                        
                        <td>Data</td>                        
                        <td>Ação</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListDefesas | paginate: config; let i = index"
                        class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                        <td>{{item.Data}}</td>                        
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="OnclickEdit(item)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Alterar</span>
                                </button>
                                <button mat-menu-item (click)="OnclickDelete(item)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginacao && tableListDefesas">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                    [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>

                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                        [responsive]="true" (pageChange)="mudarPage($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>